@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}
.logo {
  width: 6rem;
  height: 6rem;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0325rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: #fff !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid rgb(136, 131, 131);
}
